<form action="https:/s3.amazonaws.com/<%= @bucket %>" method="post" enctype="multipart/form-data">
  <input type="hidden" name="key" value="${filename}" />
  <input type="hidden" name="AWSAccessKeyId" value="<%= @aws_access_key_id %>" />
  <input type="hidden" name="acl" value="private" />
  <input type="hidden" name="success_action_redirect" value="<%= @redirect_url %>" />
  <input type="hidden" name="policy" value="<%= @policy %>" />
  <input type="hidden" name="signature" value="<%= @signature %>" />
  <input type="hidden" name="Content-Type" value="" />
  File:
  <input name="file" type="file" />
  <button type="submit">Upload this file</button>
</form>
